# Ignore vscode configurations
.vscode

# Ignore all object files
*.o

# Ignore all precompiled header files
*.h.gch

# Ignore all log files
*.log

# Ignore all error log files
*.err

# Ignore execution file
CNN